body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#game-board {
    background-color: rgb(218, 215, 255);
    position: relative;
    height: 500px;
    width: 500px;

}

#player {
    background-color: rgb(107, 99, 215);
    position: absolute;
    height: 20px;
    width: 60px;
    bottom: 0%;
}