body {
  margin: 0;
  padding: 0;
  /* color: rgb(253, 255, 184); */
  font-family: "VT323", monospace;
}
* {
  background-repeat: no-repeat;
  background-position: center;
}
/******************** WELCOME PAGE ********************/
.welcome {
  padding: 40px;
  text-align: center;
  color: rgb(253, 255, 184);
  font-size: 2.5rem;
  max-width: 740px;
}

#start-btn {
  padding: 20px 30px;
  font-family: "VT323", monospace;
  font-size: 2rem;
  width: 400px;
  background-color: rgb(253, 255, 184);
  color: rgb(30, 26, 95);
  border-radius: 10px;
  cursor: pointer;
}

/******************** GAME PAGE ********************/
#body-game-board {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(30, 26, 95);
}

#header {
  position: relative;
  /* display: inline; */
  text-align: center;
  max-width: 850px;
  color: rgb(253, 255, 184);
  font-size: 42px;
  background-color: rgb(30, 26, 95);
  padding-left: 95px;
}

.container {
  display: flex;
  flex-direction: row;
}

#game-board {
  background-color: rgb(237, 255, 234);
  position: relative;
  height: 480px;
  width: 700px;
  border: rgb(30, 26, 95) solid 10px;
}

#score-board {
  position: relative;
  width: 200px;
  font-family: "VT323", monospace;
  color: rgb(254, 255, 234);
  line-height: 30px;
  font-size: 18px;
  height: 479px;
  padding: 20px;
  background-color: rgb(30, 26, 95);
}

#lifes {
  position: absolute;
  background-position: left;
  bottom: 20px;
  width: 150px;
  height: 50px;
}

#energy-outside {
  width: 200x;
  height: 20px;
  border: rgb(254, 255, 234) solid 2px;
}

#energy-inside {
  align-items: left;
  margin: 2px;
  height: 15px;
}



#total-score {
  border-bottom: rgb(253, 255, 184) 2px double;
  font-size: 24px;
}

#player0 {
  background-image: url("../images/player.png");
  position: absolute;
}

.vegetables {
  position: absolute;
}

.animals {
  position: absolute;
}

/******************** GAME OVER PAGE ********************/
#body-game-over {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 26, 95);
}

#gameover-page {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

#animal-love {
  width: 400px;
}

#game-over,
#play-again {
  font-family: "VT323", monospace;
  font-size: 50px;;
  color: rgb(253, 255, 184);
}

#play-again {
  font-size: 30px;
}
