#body-game-board {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(30, 26, 95);
}

#header {
  position: relative;
  text-align: start;
  width: auto;
  font-family: "VT323", monospace;
  color: rgb(253, 255, 184);
  font-size: 50px;
  background-color: rgb(30, 26, 95);
  padding-left: 70px;
}

.container {
  display: flex;
  flex-direction: row;
}

#game-board {
  background-color: rgb(206, 185, 250);
  position: relative;
  height: 500px;
  width: 700px;
  border: rgb(30, 26, 95) solid 10px;
}

#score-board {
  position: relative;
  font-family: "VT323", monospace;
  color: white;
  line-height: 30px;
  font-size: 18px;
  height: 479px;
  padding: 20px;
  background-color: rgb(30, 26, 95);
  /* border-right: white solid 3px; */
}

#total-score {
  border-bottom: white 2px double;
}

#player0 {
  /* background-color: rgb(107, 99, 215); */
  background-image: url("/images/plate.png");
  position: absolute;
  /* left: 50%; */
}

/* #total-score {
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: rgb(32, 30, 100);
  position: absolute;
  top: -18px;
  width: 700px;
} */

.vegetables {
  /* background-color: green; */
  /* background-image: url("/images/tomato.png"); */
  position: absolute;
}

.animals {
  /* background-color:rgb(32, 30, 100); */
  /* background-image: url("/images/chicken.png"); */
  position: absolute;
}

/******************** GAME OVER PAGE ********************/
#body-game-over {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

#gameover-page {
  display: flex;
  align-items: center;
}

#game-over, #play-again {
  font-family: "VT323", monospace;
  font-size: 100px;
  color: rgb(30, 26, 95);
}

#play-again {
  font-size: 50px;
}
